body {
    font-family: Arial, sans-serif;
}

.watermark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.1); /* Light color for watermark text */
    font-size: 5em; /* Adjust size as needed */
    text-align: center;
    line-height: 100vh; /* Center vertically */
    display: none; /* Initially hidden */
    pointer-events: none; /* Prevent interaction with the watermark */
}

.secret-info {
    display: none; /* Initially hidden */
    position: relative;
    z-index: 1; /* Ensure it's above the watermark */
}